/* stylelint-disable color-no-hex */

$primary-color:        #000000;
$primary-color-dark:   #111111;

$secondary-color:      #999999;
$secondary-color-dark: #555555;

$accent-color:         #ed1c24;
$accent-color-dark:    #c9141b;

$primary-font:         barlow, sans-serif;
$heading-font:         barlow, sans-serif;
$heading-font-light:   barlow, sans-serif;
$secondary-font:       montserrat, sans-serif;

$base-text-color:      #333333;
$primary-text-color:   #333333;
$secondary-text-color: #444444;

$divider-color:        #dddddd;
$border-color:         #f0ede6;
$white-color:          #ffffff;
$black-color:          #000000;