.white-bg {
    background-color: $white-color;
}

.black-bg {
    background-color: $black-color;
}

.dark-grey-bg {
    background-color: $primary-color-dark;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.test-bg {
    background-color: $border-color;
}

.test-img {
    height: 500px;
}

.ft-black {
    color: $black-color;
}

.owl-carousel {
    z-index: -1 !important;
}

.ft-300 {
    font-weight: 300;
}

.ft-400 {
    font-weight: 400;
}

.ft-700 {
    font-weight: 700;
}

.ft-900 {
    font-weight: 900;
}

.text-center {
    text-align: center;
}

.uppercase {
    text-transform: uppercase;
}

.red {
    color: $accent-color;
}

.no-padding {
    padding: 0;
}

.block-element {
    display: block;
}

.space {
    margin-left: 10px;
}

.divider-m {
    height: 30px;
}

.divider-lg {
    height: 100px;
}