.topnav {
    font-family: $secondary-font;
    font-size: 14px;
    font-weight: 500;
    z-index: 9999 !important;

    ul {
        list-style: none;
        margin-top: 0;
        padding-left: 0;
        text-align: center;
    }
    li {
        background-color: transparent;
        color: $white-color;
        display: inline-block;
        padding: 1rem;
        position: relative;
        text-decoration: none;
    }
    li a {
        color: $white-color;
        text-transform: uppercase;
    }
    a:hover {
        color: #ed1c24;
        cursor: pointer;
    }
    ul li ul {
        color: $black-color;
        text-align: left;
        visibility: hidden;
        opacity: 0;
        position: absolute;
        transition: all 0.5s ease;
        margin-top: 1rem;
        left: 0;
        display: none;
    }
    ul li:hover > ul, ul li ul:hover {
        visibility: visible;
        opacity: 1;
        display: block;
    }
    ul li ul li {
        clear: both;
        width: 100%;
        padding: 5px 10px;
    }
}

@media screen and (max-width: 992px) {
    .topnav {
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    .topnav a {
        display: block;
    }
    .topnav {
        overflow: hidden;
        text-align: center;
    }
}

.navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    top: 0;
}

@media (min-width: 768px) {
    .navbar-custom {
        padding: 20px 0;
        border-bottom: none;
        background-color: transparent;
        -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
        -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
        transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    }
    .navbar-custom.top-nav-collapse {
        padding: 0;
        padding-top: 10px;
        background: #000000;
        color: #ffffff;
        box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.5);

        ul li ul {
            background: $black-color;
        }
    }
}

@media (max-width: 992px) {
    .navbar-fixed-top {
        position: relative;
        background: #000000;
    }
}

.top-nav-collapse a {
    color: #ffffff;
}

.top-nav-collapse a:hover {
    color: #ed1c24;
}

.header-social {
    text-align: right;
    margin-top: 10px;
    margin-right: 15px;

    & img {
        height: 15px;
        margin: 0 3px;
    }
}

@media screen and (max-width: 992px) {
    .header-social {
        text-align: center;
    }
    .logo {
        display: block;
        float: right;
        width: 100px;
        max-width: 100%;
        margin-top: 0;
    }
}