<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include metatg.html %}
	<link rel="icon" href="{{ '/assets/images/aquarius.png' | prepend: SourceUrl }}" sizes="57x57"/>
    <link rel="stylesheet" href="{{ '/assets/css/owl.carousel.min.css' | prepend: SourceUrl  }}">
    <link rel="stylesheet" href="{{ '/assets/css/owl.theme.default.min.css' | prepend: SourceUrl  }}">
    <link rel="stylesheet" href="{{ '/assets/css/style.min.css' | prepend: SourceUrl  }}">
    <link rel="stylesheet" href="{{ '/assets/css/pushy.css' | prepend: SourceUrl  }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html' | prepend: site.url }}">
    <link rel="preconnect" href="https://www.youtube.com">
    <link rel="preconnect" href="https://www.googletagmanager.com">
    <link rel="preload" as="script" href="">
    <link rel="preload" as="script" href="">
    <link rel="preconnect dns-prefetch" href="https://fonts.gstatic.com/" crossorigin>
    <link rel="preconnect dns-prefetch" href="https://fontlibrary.org/" crossorigin>
    <link href="https://fonts.googleapis.com/css?family=Barlow:300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,500,500i,600,700,800,900" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{{ '/assets/js/jquery.easing.min.js' | prepend: SourceUrl  }}"></script>
    <script src="{{ '/assets/js/owl.carousel.min.js' | prepend: SourceUrl  }}"></script>
    <script src="{{ '/assets/js/richard.js' | prepend: SourceUrl  }}"></script>
</head>