{% include geturl.html %}
{% include lang.html %}
<!-- Pushy Menu -->
<nav class="pushy pushy-left shadow">
    <div class="pushy-content">
			<div class="pushy-header">
				<img src="{{ '/assets/images/aquarius.png' | prepend: SourceUrl }}" width="50px">
			</div>
        <ul class="pushy-main">
            <!-- Submenu -->
            <li class="pushy-link"><a href="{{ '/' | prepend: SourceUrl  }}">Home</a></li>
			<li class="pushy-submenu">
				<button type="button" class="btn">Categories</button>
				<ul>
					<li class="pushy-link"><a href="{{ '/en/instagram-influencer' | prepend: SourceUrl  }}">Instagram Influencer</a></li>
					<li class="pushy-link"><a href="{{ '/en/fashion-richard-peterson' | prepend: SourceUrl  }}">Fashion</a></li>
					<li class="pushy-link"><a href="{{ '/en/travel/' | prepend: SourceUrl  }}">Travel</a></li>
					<li class="pushy-link"><a href="{{ '/en/richard-peterson-collection/' | prepend: SourceUrl  }}">Richard Peterson Collection</a></li>
				</ul>
			</li>
			<li class="pushy-link"><a href="{{ '/en/about-richard-peterson' | prepend: SourceUrl  }}">About</a></li>
			<li class="pushy-link"><a href="{{ '/en/work-with-me/' | prepend: SourceUrl  }}">Work with me</a></li>
        </ul>
        <div class="header-social-pushy">
			<ul>
				<li><a href="https://instagram.com/_richard_peterson?utm_source=ig_profile_share&igshid=xrvin8dmrlht" target="_blank"><img src="{{ '/assets/svg/instagram-logo-black.svg' | prepend: SourceUrl }}" alt="Richard Peterson on Instagram"></a></li>
				<li><a href="https://www.facebook.com/profile.php?id=1469670600" target="_blank"><img src="{{ '/assets/svg/facebook-letter-logo-black.svg' | prepend: SourceUrl }}" alt="Richard Peterson on Facebook" width="25" height="25"></a></li>
				<li><a href="https://www.facebook.com/Perovi%C4%87-Petar-60696360465/" target="_blank"><img src="{{ '/assets/images/flag-icon.png' | prepend: SourceUrl }}" alt="Richard Peterson on Facebook Fun Page" width="25" height="50"></a></li>
				<li><a href="https://youtu.be/7dSyEfkuqO0" target="_blank" rel="noopener noreferrer"><img src="{{ '/assets/svg/youtube-black.svg' | prepend: SourceUrl }}" alt="Richard Peterson on Youtube"></a></li>
			</ul>
		</div>
    </div>
</nav>
<!-- Site Overlay -->
<div class="site-overlay"></div>
