<div id="page-top"></div>
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="mobile-nav">
                {% include push-menu.html %}
                <div class="row align-items-center">
                    <div class="col-4">
                        <button type="button" class="menu-btn"><img src="{{ '/assets/svg/menu-button.svg' | prepend: SourceUrl }}" width="30" alt=""></button>
                    </div>
                    <div class="col-4 text-center">
                        <div class="mobile-header-social">
                            <a href="https://instagram.com/_richard_peterson?utm_source=ig_profile_share&igshid=xrvin8dmrlht" target="_blank"><img src="{{ '/assets/svg/instagram-logo.svg' | prepend: SourceUrl }}" alt="Richard Peterson on Instagram"></a>
                            <a href="https://www.facebook.com/profile.php?id=1469670600" target="_blank"><img src="{{ '/assets/svg/facebook-letter-logo.svg' | prepend: SourceUrl }}" alt="Richard Peterson on Facebook"></a>
                            <a href="https://www.facebook.com/Perovi%C4%87-Petar-60696360465/" target="_blank"><img src="{{ '/assets/images/flag-icon-white.png' | prepend: SourceUrl }}" alt="Richard Peterson on Facebook Fun Page" width="20" height="50"></a>
                            <a href="https://youtu.be/7dSyEfkuqO0" target="_blank" rel="noopener noreferrer"><img src="{{ '/assets/svg/youtube.svg' | prepend: SourceUrl }}" alt="Richard Peterson on Youtube"></a>
                        </div>
                    </div>
                    <div class="col-4 text-right">
                        <a class="logo-link-m" href="{{ '/' | prepend: SourceUrl }}" title="Richard Peterson Home"><img src="{{ '/assets/images/ricrad-peterson-wh.png' | prepend: SourceUrl }}" width="80"></a>
                    </div>
                </div>
            </div>
            <div class="desktop-nav">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="logo">
                            <a class="logo-link" href="{{ '/' | prepend: SourceUrl }}" title="Richard Peterson Home"><img src="{{ '/assets/images/ricrad-peterson-wh.png' | prepend: SourceUrl }}"></a>
                        </div>   
                    </div>
                    <div class="col-sm-8">
                        {% include navigation.html %}
                    </div>
                    <div class="col-sm-2">
                        <div class="header-social">
                            <a href="https://instagram.com/_richard_peterson?utm_source=ig_profile_share&igshid=xrvin8dmrlht" target="_blank"><img src="{{ '/assets/svg/instagram-logo.svg' | prepend: SourceUrl }}" alt="Richard Peterson on Instagram"></a>
                            <a href="https://www.facebook.com/profile.php?id=1469670600" target="_blank"><img src="{{ '/assets/svg/facebook-letter-logo.svg' | prepend: SourceUrl }}" alt="Richard Peterson on Facebook"></a>
                            <a href="https://www.facebook.com/Perovi%C4%87-Petar-60696360465/" target="_blank"><img src="{{ '/assets/images/flag-icon-white.png' | prepend: SourceUrl }}" alt="Richard Peterson on Facebook Fun Page" width="20" height="50"></a>
                            <a href="https://youtu.be/7dSyEfkuqO0" target="_blank" rel="noopener noreferrer"><img src="{{ '/assets/svg/youtube.svg' | prepend: SourceUrl }}" alt="Richard Peterson on Youtube"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
