---
layout: page
title: About Richard Peterson 
permalink: /en/travel-post/
image: 
excerpt: 
keywords: 
description: 
---
{% include lang.html %}
{% include geturl.html %}
<div class="dark-grey-bg">
    <div class="container">
        <div class="row">
            <div class="col section ft-black">
                <h1 class="white-color">Santorini<img class="space"src="{{ '/assets/images/aquarius.png' | prepend: SourceUrl }}" width="27"></h1>
                <p class="white-color ft-300">The most picturesque Greek island there is. Absolutely lived up to the hype. I spent a first week of April 2017 in Santorini alternating two magnificent luxury resorts. Diversity and the beauty of this volcanic made island is unprecedented. It will make you fall in love with everything Greek, the cuisine, the island laid back mentality, the joy of livinhttp://127.0.0.1:4000/en/travel/g. This is your your perfect romantic getaway destination, wedding hotspot, but don't be fooled it caters to the lifestyle of singles too.</p>
            </div>
        </div>
    </div>
    <div class="post-gallery">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="{{ '/images/travel/santorini/santorini-3-w1280.jpg' | prepend: SourceUrl }}" alt="santorini-3-w1280.jpg">
                </div>
                <div class="col-md-6">
                    <img src="{{ '/images/travel/santorini/santorini-9-w1280.jpg' | prepend: SourceUrl }}" alt="santorini-9-w1280.jpg">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <img src="{{ '/images/travel/santorini/santorini-cover.jpg' | prepend: SourceUrl }}" alt="santorini-cover.jpg">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                <img src="{{ '/images/travel/santorini/santorini-8-w1280.jpg' | prepend: SourceUrl }}" alt="santorini-8-w1280.jpg">
                </div>
                <div class="col-md-6">
                    <img src="{{ '/images/travel/santorini/santorini-15-w1280.jpg' | prepend: SourceUrl }}" alt="santorini-15-w1280.jpg">
                </div>
            </div>
        </div>
    </div>
</div>
