
<div class="insta-container">
<h3 class="insta-title">Instagram<span><a href="https://www.instagram.com/_richard_peterson/" target="_blank">@_richard_peterson</a></span></h3>   
<!-- LightWidget WIDGET --><script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe src="https://cdn.lightwidget.com/widgets/fd1275ded5f157a081412490bb64ebe8.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>
</div>
  <div class="footer primary-bg-color">
        <div class="primary-bg-color">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4">
                        <p class="font-sm white-color">&copy; 2019 Richard Peterson All rights reserved - By DRAXS</p>
                    </div>
                </div>
            </div>
        </div>
    </div>