
<div class="insta-container">
<h3 class="insta-title">Instagram<span><a href="https://www.instagram.com/_richard_peterson/" target="_blank">@_richard_peterson</a></span></h3>   
<!-- LightWidget WIDGET --><script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe src="https://cdn.lightwidget.com/widgets/fd1275ded5f157a081412490bb64ebe8.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>
</div>
<div class="footer primary-bg-color">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 mob-center">
                <p class="ft-small white-color">&copy; 2019 Richard Peterson All rights reserved - By DRAXS</p>
            </div>
            <div class="col-md-6">
                <p class="share white-color ft-small mob-center">Share <a href="http://www.facebook.com/sharer.php?u={{ shareurl }}"target="_blank"><img src="{{ '/assets/svg/facebook-letter-logo.svg' | prepend: SourceUrl }}" alt="Share on Facebook"></a>
                <a href="https://twitter.com/share?url={{ shareurl }}p;text={{ page_title }}&amp;hashtags=richardpeterson" target="_blank"><img src="{{ '/assets/svg/twitter-logo.svg' | prepend: SourceUrl }}" alt="Share on Twitter"></a>
                <a href="http://pinterest.com/pin/create/button/?url={{ shareurl }}" class="pin-it-button" count-layout="horizontal">
                    <img src="{{ '/assets/svg/pinterest.svg' | prepend: SourceUrl }}" title="Pin It" />
                </a></p>  
            </div>
        </div>
    </div>
</div>
<script src="{{ '/assets/js/pushy.js' | prepend: SourceUrl  }}"></script>