{% if page.layout == "page" %}
{% if siteLang == "en" %}
    {% assign engPosts = site.posts | where: "language", "en" %}
        {% for post in engPosts limit:1 %}
        {% assign seotitle = post.title %}
        {% assign seoimage = post.image %}
        {% assign seodescription = post.excerpt %}
        {% endfor %}
{% elsif siteLang == "sr" %}
    {% assign srPosts = site.posts | where: "language", "sr" %}
        {% for post in srPosts limit:1 %}
        {% assign seotitle = post.title %}
        {% assign seoimage = post.image %}
        {% assign seodescription = post.excerpt %}
        {% endfor %}
{% elsif siteLang == "ru" %}
    {% assign ruPosts = site.posts | where: "language", "ru" %}
        {% for post in ruPosts limit:1 %}
        {% assign seotitle = post.title %}
        {% assign seoimage = post.image %}
        {% assign seodescription = post.excerpt %}
        {% endfor %}
{% else %}
    {% assign myPosts = site.posts | where: "language", "en" %}
    {% for post in myPosts limit:1 %}
        {% assign seotitle = post.title %}
        {% assign seoimage = post.image %}
        {% assign seodescription = post.excerpt %}
    {% endfor %}
{% endif %}
{% else %}
    {% assign seotitle = page.title %}
    {% assign seoimage = page.image %}
    {% assign seodescription = page.excerpt %}
{% endif %}
<title>Richard Peterson - {{ seotitle | truncatewords: 30 }}</title>
<meta name="description" content="{{ seodescription | truncatewords: 30 }}">
<meta property="og:title" content="Richard Peterson - {{ seotitle }}" />
<meta property="og:type" content="website" />
<meta property="og:description" content="{{ seodescription | truncatewords: 30 }}" />
<meta property="og:url" content="{{ page.url | replace:'index.html' | SourceUrl }}" />
<meta property="og:image" content="{{ seoimage | prepend: SourceUrl }}" />
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@RichardPeterson">
<meta name="twitter:title" content="Richard Peterson - {{ seotitle }}">
<meta name="twitter:description" content="{{ seodescription }}">
<meta name="twitter:image" content="{{ seoimage | prepend: SourceUrl }}">
<meta name="twitter:image:alt" content="{{ seotitle }}">
<script type="application/ld+json">
    {
    "@context": "http://schema.org",
    "@type": "NewsArticle",
    "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ page.url | replace:'index.html' | prepend: site.url }}"
    },
    "headline": "Richard Peterson - {{ seotitle }}",
    "image": [
        "{{ page.image | prepend: site.url  }}"
    ],
    "datePublished": "{{ site.time | date_to_xmlschema }}",
    "dateModified": "{{ site.time | date_to_xmlschema }}",
    "author": {
    "@type": "Organization",
    "name": "Richard Peterson"
    },
    "publisher": {
    "@type": "Organization",
    "name": "Richard Peterson",
    "logo": {
    "@type": "ImageObject",
    "url": "https://richardpeterson.nyc/images/logo-icon.png"
    }
},
    "description": "{{ seodescription }}"
}
</script>