{% include geturl.html %}
{% include lang.html %}
<div class="topnav">
    <ul>
        <li><a href="{{ '/' | prepend: SourceUrl  }}">Home</a></li>
        <li><a href="#">Categories</a>
            <ul class="dropdown">
                <li><a href="{{ '/en/instagram-influencer' | prepend: SourceUrl  }}">Instagram Influencer</a></li>
                <li><a href="{{ '/en/fashion-richard-peterson' | prepend: SourceUrl  }}">Fashion</a></li>
                <li><a href="{{ '/en/travel/' | prepend: SourceUrl  }}">Travel</a></li>
                <li><a href="#">Richardpeterson Collection</a></li>
            </ul>
        </li>
        <li><a href="{{ '/en/about-richard-peterson' | prepend: SourceUrl  }}">About</a></li>
        <li><a href="#">Work With Me</a></li>
    </ul>
</div>