{% include geturl.html %}
{% include lang.html %}

<nav role="navigation">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Instagram Influencer</a></li>
      <li><a href="#">Categories</a>
        <ul class="dropdown">
          <li><a href="#">Fashion</a></li>
          <li><a href="#">Travel</a></li>
          <li><a href="#">Richardpeterson Collection</a></li>
        </ul>
      </li>
      <li><a href="#">About</a></li>
      <li><a href="#">Work With Me</a></li>
    </ul>
  </nav>