<div class="Share">
    <ul>
        <li><a href="https://twitter.com/share?url={{ shareurl }}p;text={{ page_title }}&amp;hashtags=nenakay" target="_blank"><img src="{{ '/images/twitter-logo.svg' | prepend: SourceUrl }}" alt="Share on Twitter"></a></li>
        <li><a href="http://www.facebook.com/sharer.php?u={{ shareurl }}"target="_blank"><img src="{{ '/images/facebook-letter-logo.svg' | prepend: SourceUrl }}" alt="Share on Facebook"></a></li>
        <li><a href="https://plus.google.com/share?url={{ shareurl }}" target="_blank"><img src="{{ '/images/google-plus.svg' | prepend: SourceUrl }}" alt="Share on Google"></a></li>
        <li><a href="http://pinterest.com/pin/create/button/?url={{ shareurl }}" class="pin-it-button" count-layout="horizontal">
            <img src="{{ '/images/pinterest.svg' | prepend: SourceUrl }}" title="Pin It" />
        </a></li>   		
    </ul>
</div>