<div id="page-top"></div>
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container-fluid ">
		<div class="row">
			<div class="col-lg-2">
				<div class="logo">
                    <a class="logo-link" href="{{ '/' | prepend: SourceUrl }}" title="Richard Peterson Home"><img src="{{ '/assets/images/ricrad-peterson-wh.png' | prepend: SourceUrl }}"></a>
				</div>   
            </div>
            <div class="col-lg-8">
                <div class="topnav">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Instagram Influencer</a></li>
                        <li><a href="#">Categories</a>
                            <ul class="dropdown">
                                <li><a href="#">Fashion</a></li>
                                <li><a href="#">Travel</a></li>
                                <li><a href="#">Richardpeterson Collection</a></li>
                            </ul>
                        </li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Work With Me</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2">
                social
            </div>
		</div>
	</div>
</nav>
