---
layout: page
title: Brands 
permalink: /en/brands/
image: /images/brands/balr/balr-cover-w1280.jpg
excerpt: "It is the likability and business collaboration attractiveness that reads accomplishment in marketing your own brand."
keywords:  
---
{% include lang.html %}
{% include geturl.html %}
<div class="dark-grey-bg">
    <div class="container">
        <div class="row">
            <div class="col section ft-black">
                <h1 class="white-color">Brands<img class="space"src="{{ '/assets/images/aquarius.png' | prepend: SourceUrl }}" width="27"></h1>
                <p class="white-color ft-300">It is the likability and business collaboration attractiveness that reads accomplishment in marketing your own brand. Making a mark on a map of established Instagram influencers takes hard work and dedication. Once you become a medium brands are prospecting for it is evident that you succeeded. Understanding that it is through working with you that companies consider growing their business comes rather flattering. Nothing comes close to the satisfaction you get from partaking in a worldwide campaign that features mainstream celebrities you once considered distant and untouchable.</p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            {% for post in site.posts %}
            {% if post.categories  contains "brands" %}
            <div class="col-md-3 box-img">
                <a href="{{ post.url | prepend: SourceUrl }}">
                    <div class="zoom-img" style="background: url('{{ post.image | prepend: SourceUrl }}');background-size: cover;background-position: center;"></div>
                    <div class="text-overlay-black-brand">
                        <h3 class="text-center">{{ post.preview-title }}<img class="space" src="{{ '/assets/images/aquarius.png' | prepend: SourceUrl }}" width="25"></h3>
                    </div>
                </a>
            </div>
        {% endif %}
        {% endfor %} 
        </div>   
    </div>