---
layout: page
title: Brands 
permalink: /en/brands/
image: 
excerpt: 
keywords: 
description: 
---
{% include lang.html %}
{% include geturl.html %}
<div class="dark-grey-bg">
    <div class="container">
        <div class="row">
            <div class="col section ft-black">
                <h1 class="white-color">Brands<img class="space"src="{{ '/assets/images/aquarius.png' | prepend: SourceUrl }}" width="27"></h1>
                <p class="white-color ft-300">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 box-img">
                <a href=""><div class="zoom-img" style="background: url('https://draxs.github.io/richardpeterson.nyc/images/brands/instagram-influencer/NYC-street-style-cover-w700.jpg');background-size: cover;background-position: center;"></div></a>
                <div class="text-overlay-black-brand">
                    <h3 class="text-center">NYC Street Style<img class="space" src="{{ '/assets/images/aquarius.png' | prepend: SourceUrl }}" width="25"></h3></div>
            </div>
            <div class="col-md-3 box-img">
                <a href=""><div class="zoom-img" style="background: url('https://draxs.github.io/richardpeterson.nyc/images/brands/artinisto/artinisto-cover-w700.jpg');background-size: cover;background-position: center;"></div></a>
                <div class="text-overlay-black-brand">
                    <h3 class="text-center">Artinisto<img class="space" src="{{ '/assets/images/aquarius.png' | prepend: SourceUrl }}" width="25"></h3></div>
            </div>
            <div class="col-md-3 box-img">
                <a href=""><div class="zoom-img" style="background: url('https://draxs.github.io/richardpeterson.nyc/images/brands/balr/balr-cover-w700.jpg');background-size: cover;background-position: center;"></div></a>
                <div class="text-overlay-black-brand">
                    <h3 class="text-center">Balr<img class="space" src="{{ '/assets/images/aquarius.png' | prepend: SourceUrl }}" width="25"></h3></div>
            </div>
            <div class="col-md-3 box-img">
                <a href=""><div class="zoom-img" style="background: url('https://draxs.github.io/richardpeterson.nyc/images/brands/blumaan/blumaan-cover-w700.jpg');background-size: cover;background-position: center;"></div></a>
                <div class="text-overlay-black-brand">
                    <h3 class="text-center">Blumaan<img class="space" src="{{ '/assets/images/aquarius.png' | prepend: SourceUrl }}" width="25"></h3></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 box-img">
                <a href=""><div class="zoom-img" style="background: url('https://draxs.github.io/richardpeterson.nyc/images/brands/bodaskins/bodaskins-cover-w700.jpg');background-size: cover;background-position: center;"></div></a>
                <div class="text-overlay-black-brand">
                    <h3 class="text-center">Boda Skins<img class="space" src="{{ '/assets/images/aquarius.png' | prepend: SourceUrl }}" width="25"></h3></div>
            </div>
            <div class="col-md-3 box-img">
                <a href=""><div class="zoom-img" style="background: url('https://draxs.github.io/richardpeterson.nyc/images/brands/boohooman/boohooman-cover-w700.jpg');background-size: cover;background-position: center;"></div></a>
                <div class="text-overlay-black-brand">
                    <h3 class="text-center">Boohooman<img class="space" src="{{ '/assets/images/aquarius.png' | prepend: SourceUrl }}" width="25"></h3></div>
            </div>
            <div class="col-md-3 box-img">
                <a href=""><div class="zoom-img" style="background: url('https://draxs.github.io/richardpeterson.nyc/images/brands/europann/europann-8-w700.jpg');background-size: cover;background-position: center;"></div></a>
                <div class="text-overlay-black-brand">
                    <h3 class="text-center">Europann<img class="space" src="{{ '/assets/images/aquarius.png' | prepend: SourceUrl }}" width="25"></h3></div>
            </div>
            <div class="col-md-3 box-img">
                <a href=""><div class="zoom-img" style="background: url('https://draxs.github.io/richardpeterson.nyc/images/brands/fashionnovaman/fashionnovaman-cover-w700.jpg');background-size: cover;background-position: center;"></div></a>
                <div class="text-overlay-black-brand">
                    <h3 class="text-center">Fashionnova<img class="space" src="{{ '/assets/images/aquarius.png' | prepend: SourceUrl }}" width="25"></h3></div>
            </div>  
        </div>   
    </div>