---
layout: page
title: Catalogs&Runaway 
permalink: /en/catalogs-and-runaway/
image: /images/fashion/catalogs&runaway/catalogs&runaway-13.jpg
excerpt: 
keywords: 
description: 
---
{% include lang.html %}
{% include geturl.html %}
<div class="dark-grey-bg">
    <div class="container">
        <div class="row">
            <div class="col section ft-white ft-300">
                <h1 class="white-color">Catalogs & Runaway<img class="space" src="{{ '/assets/images/aquarius.png' | prepend: SourceUrl }}" width="27"></h1>
                <p>Walking runway is the ultimate adrenalin rush, perhaps that is why once you start walking fashion shows you always want to come back to it, regardless of how much of hard work goes into preparing for the runway season. It is those 10-15 seconds per outfit change that you got to make it all look effortless but fierce and strong. There is something magical about strutting down the runway to the beat of the music with all those lights shining down on you. One of my favourite shows happened to me in China. The production met the fashion in a perfect harmony. Other memorable runways I have done would definitely be the shows I walked on the NYC fashion week. I am not shy to admit that walking for Armani in New York would the a dream come through and something I am aspiring to accomplish.</p>  
            </div>
        </div>
    </div>
    <div class="post-gallery">
        <div class="container">
            <div class="row">
                <div class="col">
                    <img src="{{ '/images/fashion/catalogs&runaway/catalogs&runaway-8.jpg' | prepend: SourceUrl }}" alt="catalogs&runaway-8.jpg">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <img src="{{ '/images/fashion/catalogs&runaway/catalogs&runaway-1-w1280.jpg' | prepend: SourceUrl }}" alt="catalogs&runaway-1-w1280.jpg">
                </div>
                <div class="col-md-6">
                    <img src="{{ '/images/fashion/catalogs&runaway/catalogs&runaway-3-w1280.jpg' | prepend: SourceUrl }}" alt="catalogs&runaway-3-w1280.jpg">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <img src="{{ '/images/fashion/catalogs&runaway/catalogs&runaway-10-w800.jpg' | prepend: SourceUrl }}" alt="catalogs&runaway-10-w800.jpg">
                </div>
                <div class="col-md-6">
                    <img src="{{ '/images/fashion/catalogs&runaway/catalogs&runaway-13.jpg' | prepend: SourceUrl }}" alt="catalogs&runaway-13.jpg">
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                        <img src="{{ '/images/fashion/catalogs&runaway/catalogs&runaway-7.jpg' | prepend: SourceUrl }}" alt="catalogs&runaway-7.jpg">
                </div>
            </div>
        </div>
    </div>
</div>