---
layout: page
title: Fashion Richard Peterson 
permalink: /en/fashion-richard-peterson
image: /images/fashion/catalogs&runaway/catalogs&runaway-black.jpg
excerpt: "Being in front of the camera is not a new thing to me. It actually came as a natural progression."
keywords: 
description: 
---
{% include lang.html %}
{% include geturl.html %}
<div class="homepage-hero-module">
    <div class="video-container">
        <video autoplay loop muted playsinline src="{{ '/assets/videos/fashion-video.mp4' | prepend: SourceUrl }}" class="fillWidth"></video>
        <div class="poster hidden">
            <img src="{{ '/images/magazines-poster.jpg' | prepend: SourceUrl }}" alt="magazines-poster.jpg">
        </div>
    </div>
</div>
<div class="white-section">
        <div class="aquarius">
            <img src="{{ '/assets/images/aquarius.png' | prepend: SourceUrl }}">
        </div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <p class="text-center">Being in front of the camera is not a new thing to me. It actually came as a natural progression. Building the confidence level while modeling made me into a style chameleon. Enter this section to see some of my favourite fashion shoots.</p>
                </div>
            </div>
        </div>
    </div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 no-padding">
            <a href="{{ '/en/magazines/' | prepend: SourceUrl }}">
                <div class="category-img img-8">
                    <div class="text-overlay-black">
                        <h3 class="text-center">Magazines<img class="space" src="{{ '/assets/images/aquarius.png' | prepend: SourceUrl }}" width="25"></h3>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4 no-padding">
            <a href="{{ '/en/test-shooting/' | prepend: SourceUrl }}">
                <div class="category-img img-7">
                    <div class="text-overlay-black">
                        <h3 class="text-center">Test Shooting<img class="space" src="{{ '/assets/images/aquarius.png' | prepend: SourceUrl }}" width="25"></h3>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4 no-padding">
            <a href="{{ '/en/catalogs-and-runaway/' | prepend: SourceUrl }}">
                <div class="category-img img-6">
                    <div class="text-overlay-black">
                        <h3 class="text-center">Catalogs & Runaway<img class="space" src="{{ '/assets/images/aquarius.png' | prepend: SourceUrl }}" width="25"></h3>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
