---
layout: page
title: About Richard Peterson 
permalink: /en/fashion-richard-peterson
image: 
excerpt: 
keywords: 
description: 
---
{% include lang.html %}
{% include geturl.html %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 category-img img-6">
            <div class="text-overlay-white">
                <h2 class="text-center font-lg">Catalogs & Runaway<img class="space" src="{{ '/assets/images/aquarius.png' | prepend: SourceUrl }}" width="25"></h2>
            </div>
        </div>
        <div class="col-md-4 category-img img-7">
            <div class="text-overlay-black">
                <h2 class="text-center font-lg">Test Shooting<img class="space" src="{{ '/assets/images/aquarius.png' | prepend: SourceUrl }}" width="25"></h2>
            </div>
        </div>
        <div class="col-md-4 category-img img-8">
            <div class="text-overlay-white">
                <h2 class="text-center font-lg">Magazines<img class="space" src="{{ '/assets/images/aquarius.png' | prepend: SourceUrl }}" width="25"></h2>
            </div>
        </div>
    </div>
</div>