---
layout: page
title: About Richard Peterson 
permalink: /en/instagram-influencer
image: 
excerpt: 
keywords: 
description: 
---
{% include lang.html %}
{% include geturl.html %}
<div class="homepage-hero-module">
    <div class="video-container">
        <div class="filter"></div>
        <video autoplay loop muted playsinline src="{{ '/assets/videos/instagram-influencer.mp4' | prepend: SourceUrl }}" class="fillWidth"></video>
        <div class="poster hidden">
            <img src="{{ '/images/instagram-influencer/NYC-street-style-7-w1280.jpg' | prepend: SourceUrl }}" alt="">
        </div>
    </div>
</div>
<div class="divider-lg"></div>
<div class="black-section">
    <div class="aquarius">
        <img src="{{ '/assets/images/aquarius.png' | prepend: SourceUrl }}">
    </div>
</div>
<div class="container-fluid black-bg">
    <div class="row">
        <div class="col-md-6 instagram-influencer-box">
            <div class="zoom-img img-3"></div>
            <div class="text-overlay-black">
                <h2 class="text-center">Instagram Influencer<img class="space" src="{{ '/assets/images/aquarius.png' | prepend: SourceUrl }}" width="25"></h2>
            </div>
        </div>
        <div class="col-md-6 instagram-influencer-box">
            <div class="zoom-img img-4"></div>
            <div class="text-overlay-white">
                <h2 class="text-center">Brands<img class="space" src="{{ '/assets/images/aquarius.png' | prepend: SourceUrl }}" width="25"></h2>
            </div>
        </div>
    </div>
</div>
