---
layout: page
title: Instagram Influencer
permalink: /en/instagram-influencer
image: 
excerpt: 
keywords: 
description: 
---
{% include lang.html %}
{% include geturl.html %}
<div class="homepage-hero-module">
    <div class="video-container">
        <div class="filter"></div>
        <video autoplay loop muted playsinline src="{{ '/assets/videos/instagram-influencer.mp4' | prepend: SourceUrl }}" class="fillWidth"></video>
        <div class="poster hidden">
            <img src="{{ '/images/instagram-influencer/NYC-street-style-7-w1280.jpg' | prepend: SourceUrl }}" alt="">
        </div>
    </div>
</div>
<div class="divider-lg"></div>
<div class="white-section-inf">
    <h4 class="uppercase text-center">Richard Peterson</h4>
</div>
<div class="container-fluid black-bg">
    <div class="row">
        <div class="col-md-6 instagram-influencer-box">
            <a href="{{ '/en/brands/' | prepend: SourceUrl  }}"><div class="zoom-img img-3"></div></a>
        </div>
        <div class="col-md-6 instagram-influencer-box-text dark-grey-bg">
            <h3 class="text-center">Brands<img class="space" src="{{ '/assets/images/aquarius.png' | prepend: SourceUrl }}" width="25"></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate</p>
            <p><a href="{{ '/en/brands/' | prepend: SourceUrl  }}">Read more</a></p>
        </div>
    </div>
</div>
