---
layout: page
title: Magazines 
permalink: /en/magazines/
image: /images/fashion/magazines/magazines-10.jpg
excerpt: 
keywords: 
description: 
---
{% include lang.html %}
{% include geturl.html %}
<div class="dark-grey-bg">
    <div class="container">
        <div class="row">
            <div class="col section ft-white ft-300">
                <h1 class="white-color">Magazines<img class="space" src="{{ '/assets/images/aquarius.png' | prepend: SourceUrl }}" width="27"></h1>
                <p>Over the past couple of years I was fortunate enough to be starring in editorials of international power houses such as: GQ, Cosmopolitan, Maxim, Men’s Health, Esquire to name a few. Simply the fact that you are considered to shoot with the top tier of the industry is flattering. Getting to shoot an actual magazine cover is always super exciting and validating. Besides bringing a team of super talented professionals together to create, it opens up another door, another possibility may come your way. Quite often one job of such prestige brings another two. My ultimate dream is to have American GQ cover under my belt. Wish me luck and stay with me on my journey.</p>  
            </div>
        </div>
    </div>
    <div class="post-gallery">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="{{ '/images/fashion/magazines/magazines-10.jpg' | prepend: SourceUrl }}" alt="magazines-10.jpg">
                </div>
                <div class="col-md-6">
                    <img src="{{ '/images/fashion/magazines/magazines-11.jpg' | prepend: SourceUrl }}" alt="magazines-11.jpg">
                </div>
            </div>
            <div class="row">
                    <div class="col-md-6">
                        <img src="{{ '/images/fashion/magazines/magazines-6.jpg' | prepend: SourceUrl }}" alt="magazines-6.jpg">
                    </div>
                    <div class="col-md-6">
                        <img src="{{ '/images/fashion/magazines/magazines-9.jpg' | prepend: SourceUrl }}" alt="magazines-9.jpg">
                    </div>
                </div>
            <div class="row">
                <div class="col">
                    <img src="{{ '/images/fashion/magazines/magazines-2.jpg' | prepend: SourceUrl }}" alt="magazines-2.jpg">
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <img src="{{ '/images/fashion/magazines/magazines-1.jpg' | prepend: SourceUrl }}" alt="magazines-1.jpg">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <img src="{{ '/images/fashion/magazines/magazines-14.jpg' | prepend: SourceUrl }}" alt="magazines-14.jpg">
                </div>
            </div>
        </div>
    </div>
</div>