---
layout: page
title: Test Shooting 
permalink: /en/test-shooting/
image: /images/fashion/test-shooting/test-shooting-13.jpg
excerpt: 
keywords: 
description: 
---
{% include lang.html %}
{% include geturl.html %}
<div class="dark-grey-bg">
    <div class="container">
        <div class="row">
            <div class="col section ft-white ft-300">
                <h1 class="white-color">Test Shooting<img class="space" src="{{ '/assets/images/aquarius.png' | prepend: SourceUrl }}" width="27"></h1>
                <p>Nothing excites me like a new test shoot. Endless possibilities of exploring the artistic expression, portraying different emotion, discovering a new shoot inspiration mid process. Black and white photography is very close to my heart as I appreciate the timeless quality to it and how bare I feel while in front of the lens. As years went by I learned to love every flaw of mine and now I get super relaxed before a shoot knowing my strengths.</p>  
            </div>
        </div>
    </div>
    <div class="post-gallery">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="{{ '/images/fashion/test-shooting/test-shooting-4.jpg' | prepend: SourceUrl }}" alt="test-shooting-4.jpg">
                </div>
                <div class="col-md-6">
                    <img src="{{ '/images/fashion/test-shooting/test-shooting-13.jpg' | prepend: SourceUrl }}" alt="test-shooting-13.jpg">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <img src="{{ '/images/fashion/test-shooting/test-shooting-8.jpg' | prepend: SourceUrl }}" alt="test-shooting-8.jpg">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <img src="{{ '/images/fashion/test-shooting/test-shooting-1-w1280.jpg' | prepend: SourceUrl }}" alt="test-shooting-1-w1280.jpg">
                </div>
                <div class="col-md-6">
                    <img src="{{ '/images/fashion/test-shooting/test-shooting-6-w1280.jpg' | prepend: SourceUrl }}" alt="test-shooting-6-w1280.jpg">
                </div>
                </div>
            <div class="row">
                <div class="col">
                    <img src="{{ '/images/fashion/test-shooting/test-shooting-w1280.jpg' | prepend: SourceUrl }}" alt="test-shooting-w1280.jpg">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <img src="{{ '/images/fashion/test-shooting/test-shooting-10.jpg' | prepend: SourceUrl }}" alt="test-shooting-10.jpg">
                </div>
            </div>
        </div>
    </div>
</div>