---
layout: page
title: About Richard Peterson 
permalink: /en/travel/
image: 
excerpt: 
keywords: 
description: 
---
{% include lang.html %}
{% include geturl.html %}
<div class="homepage-hero-module">
    <div class="video-container">
        <div class="filter"></div>
        <video autoplay loop muted playsinline src="{{ '/assets/videos/travel.mp4' | prepend: SourceUrl }}" class="fillWidth"></video>
        <div class="poster hidden">
            <img src="{{ '/images/travel/thailand/thailand-3-w1280.jpg' | prepend: SourceUrl }}" alt="">
        </div>
    </div>
</div>
<div class="divider-lg"></div>
<div class="white-section-category">
    <div class="aquarius">
        <img src="{{ '/assets/images/aquarius.png' | prepend: SourceUrl }}">
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="text-center">I owe my success to travel blogging. It was my first trip to Thailand that inspired me to start a style blog. I found it pivotal to match the destination shoots with the right styling choices. It was exploring the local trend that made me understand what a good travel photography is. Paying attention to setting the right tone of the photo as well as following through with the appropriate fashion is almost by rule met with the biggest praise by my international audience.</p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid black-bg">
    <div class="row">
        <div class="col-md-3 box-text">
            <h3>Thailand</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
            <h5><a href="">Read more</a></h5>
            </div>
        <div class="col-md-3 box-img">
            <a href=""><div class="zoom-img" style="background: url('https://draxs.github.io/richardpeterson.nyc/images/travel/thailand/thailand-cover-w700.jpg');background-size: cover;background-position: center;"></div></a>
        </div>
    <div class="col-md-3 box-text">
        <h3>Santorini</h3>
        <p>The most picturesque Greek island there is. Absolutely lived up to the hype. I spent a first week of April</p>
        <h5><a href="{{ '/en/travel-post/' | prepend: SourceUrl }}">Read more</a></h5>
        </div>
        <div class="col-md-3 box-img">
            <a href="{{ '/en/travel-post/' | prepend: SourceUrl }}"><div class="zoom-img" style="background: url('https://draxs.github.io/richardpeterson.nyc/images/travel/santorini/santorini-cover-w700.jpg');background-size: cover;background-position: center;"></div></a>
    </div>
</div>
<div class="row">
        <div class="col-md-3 box-img">
                <a href=""><div class="zoom-img" style="background: url('https://draxs.github.io/richardpeterson.nyc/images/travel/los-angeles/los-angeles-cover-w700.jpg');background-size: cover;background-position: center;"></div></a>
            </div>
        <div class="col-md-3 box-text">
            <h3>Los Angeles</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
            <h5><a href="">Read more</a></h5>
            </div>
        <div class="col-md-3 box-img">
            <a href=""><div class="zoom-img" style="background: url('https://draxs.github.io/richardpeterson.nyc/images/travel/miami-key-west/miami-cover-w700.jpg');background-size: cover;background-position: center;"></div></a>
    </div>
    <div class="col-md-3 box-text">
            <h3>Miami</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
            <h5><a href="">Read more</a></h5>
            </div>
</div>
</div>