---
layout: page
title: Travel 
permalink: /en/travel/
image: 
excerpt: 
keywords: 
description: 
---
{% include lang.html %}
{% include geturl.html %}
<div class="homepage-hero-module">
    <div class="video-container">
        <div class="filter"></div>
        <video autoplay loop muted playsinline src="{{ '/assets/videos/travel.mp4' | prepend: SourceUrl }}" class="fillWidth"></video>
        <div class="poster hidden">
            <img src="{{ '/images/travel-poster.jpg' | prepend: SourceUrl }}" alt="travel-poster.jpg">
        </div>
    </div>
</div>
<div class="white-section-category">
    <div class="aquarius">
        <img src="{{ '/assets/images/aquarius.png' | prepend: SourceUrl }}">
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="text-center">I owe my success to travel blogging. It was my first trip to Thailand that inspired me to start a style blog. I found it pivotal to match the destination shoots with the right styling choices. It was exploring the local trend that made me understand what a good travel photography is. Paying attention to setting the right tone of the photo as well as following through with the appropriate fashion is almost by rule met with the biggest praise by my international audience.</p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid black-bg">
    <div class="row align-items-center dark-grey-bg">
        <div class="col-md-3 box-text">
            <h3>Thailand</h3>
            <p>After posting my first travel blog post from a gorgeous island of Phuket and seeing all the buzz it created within 24 hours</p>
            <h5><a href="{{ '/en/Thailand/' | prepend: SourceUrl }}">Read more</a></h5>
            </div>
        <div class="col-md-3 travel-box-img">
            <a href="{{ '/en/Thailand/' | prepend: SourceUrl }}"><div class="zoom-img" style="background: url('https://draxs.github.io/richardpeterson.nyc/images/travel/thailand/thailand-cover-w700.jpg');background-size: cover;background-position: center;display: flex;"></div></a>
        </div>
        <div class="col-md-3 box-text">
            <h3>Santorini</h3>
            <p>The most picturesque Greek island there is. Absolutely lived up to the hype. I spent a first week of April in Santorini</p>
            <h5><a href="{{ '/en/Santorini/' | prepend: SourceUrl }}">Read more</a></h5>
        </div>
        <div class="col-md-3 travel-box-img">
            <a href="{{ '/en/Santorini/' | prepend: SourceUrl }}"><div class="zoom-img" style="background: url('https://draxs.github.io/richardpeterson.nyc/images/travel/santorini/santorini-cover-w700.jpg');background-size: cover;background-position: center;display: flex;"></div></a>
        </div>
    </div>
    <div class="row align-items-center dark-grey-bg">
        <div class="col-md-3 travel-box-img" id="la">
            <a href="{{ '/en/Los-Angeles/' | prepend: SourceUrl }}"><div class="zoom-img" style="background: url('https://draxs.github.io/richardpeterson.nyc/images/travel/los-angeles/los-angeles-cover-w700.jpg');background-size: cover;background-position: center;display: flex;"></div></a>
        </div>
        <div class="col-md-3 box-text" id="la-text">
            <h3>Los Angeles</h3>
            <p>Upon spending first few hours in LA It struck me how, when compared to NYC, everything is paced in a more gentle</p>
            <h5><a href="{{ '/en/Los-Angeles/' | prepend: SourceUrl }}">Read more</a></h5>
        </div>
        <div class="col-md-3 travel-box-img" id="mi">
            <a href="{{ '/en/Miami/' | prepend: SourceUrl }}"><div class="zoom-img" style="background: url('https://draxs.github.io/richardpeterson.nyc/images/travel/miami-key-west/miami-cover-w700.jpg');background-size: cover;background-position: center;display: flex;"></div></a>
        </div>
        <div class="col-md-3 box-text" id="mi-text">
            <h3>Miami</h3>
            <p>I have to admit Miami stayed true to the way it is so commonly depicted in pop culture. One of the most vibrant cities</p>
            <h5><a href="{{ '/en/Miami/' | prepend: SourceUrl }}">Read more</a></h5>
        </div>
    </div>
    <div class="row align-items-center dark-grey-bg">   
        <div class="col-md-3 box-text">
            <h3>Las Vegas</h3>
            <p>Lifestyle of this oasis in the desert can partially be explained with the extremely high temperatures throughout</p>
            <h5><a href="{{ '/en/Las-Vegas/' | prepend: SourceUrl }}">Read more</a></h5>
        </div>
        <div class="col-md-3 travel-box-img">
            <a href="{{ '/en/Las-Vegas/' | prepend: SourceUrl }}"><div class="zoom-img" style="background: url('https://draxs.github.io/richardpeterson.nyc/images/travel/las-vegas/las-vegas-cover-w700.jpg');background-size: cover;background-position: center;display: flex;"></div></a>
        </div>
        <div class="col-md-3 box-text">
            <h3>New York</h3>
            <p>Even before I was about to start living in New York I kept coming back to this city as it offered plethora of inspiration</p>
            <h5><a href="{{ '/en/New-York/' | prepend: SourceUrl }}">Read more</a></h5>
        </div>
        <div class="col-md-3 travel-box-img">
            <a href="{{ '/en/New-York/' | prepend: SourceUrl }}"><div class="zoom-img" style="background: url('https://draxs.github.io/richardpeterson.nyc/images/travel/new-york/new-york-hotels-cover-w700.jpg');background-size: cover;background-position: center;display: flex;"></div></a>
        </div>
    </div>
    <div class="row align-items-center dark-grey-bg">
        <div class="col-md-3 travel-box-img" id="mex">
            <a href="{{ '/en/Mexico/' | prepend: SourceUrl }}"><div class="zoom-img" style="background: url('https://draxs.github.io/richardpeterson.nyc/images/travel/mexico/mexico-cover-w700.jpg');background-size: cover;background-position: center;"></div></a>
        </div>
        <div class="col-md-3 box-text" id="mex-text">
            <h3>Mexico</h3>
            <p>I get super emotional just thinking about Mexico as a big chunk of my modeling and blogging career stayed there</p>
            <h5><a href="{{ '/en/Mexico/' | prepend: SourceUrl }}">Read more</a></h5>
        </div>
        <div class="col-md-3 travel-box-img" id="bg">
            <a href="{{ '/en/Belgrade/' | prepend: SourceUrl }}"><div class="zoom-img" style="background: url('https://draxs.github.io/richardpeterson.nyc/images/travel/belgrade/belgrade-cover-w700.jpg');background-size: cover;background-position: center;"></div></a>
        </div>
        <div class="col-md-3 box-text" id="bg-text">
            <h3>Belgrade</h3>
            <p>I am going to go out on a limb and say that Belgrade resembles NYC in so many ways. So many great memories</p>
            <h5><a href="{{ '/en/Belgrade/' | prepend: SourceUrl }}">Read more</a></h5>
        </div>
    </div>
    <div class="row align-items-center dark-grey-bg">   
        <div class="col-md-3 box-text">
            <h3>Berlin</h3>
            <p>For so long Berlin lived reputation of the most liberal point of Europe. More than any other city it attracts rough artistic</p>
            <h5><a href="{{ '/en/Berlin/' | prepend: SourceUrl }}">Read more</a></h5>
        </div>
        <div class="col-md-3 travel-box-img">
            <a href="{{ '/en/Berlin/' | prepend: SourceUrl }}"><div class="zoom-img" style="background: url('https://draxs.github.io/richardpeterson.nyc/images/travel/berlin/berlin-cover-w700.jpg');background-size: cover;background-position: center;"></div></a>
        </div>
        <div class="col-md-3 box-text">
            <h3>Paris</h3>
            <p>Even considering to bring this city closer to you I am setting myself up for a failure. The synonym for romance, elegance</p>
            <h5><a href="{{ '/en/Paris/' | prepend: SourceUrl }}">Read more</a></h5>
        </div>
        <div class="col-md-3 travel-box-img">
            <a href="{{ '/en/Paris/' | prepend: SourceUrl }}"><div class="zoom-img" style="background: url('https://draxs.github.io/richardpeterson.nyc/images/travel/paris/paris-cover-w700.jpg');background-size: cover;background-position: center;"></div></a>
        </div>
    </div>
</div>

