---
layout: page
title: Work With Me 
permalink: /en/work-with-me/
image: 
excerpt: 
keywords: 
description: 
---
{% include lang.html %}
{% include geturl.html %}
<div class="dark-grey-bg">
    <div class="container">
        <div class="row">
            <div class="col section ft-white">
                <h1 class="white-color">Get in touch<img class="space" src="{{ '/assets/images/aquarius.png' | prepend: SourceUrl }}" width="27"></h1>
            </div>
        </div>
    </div>
    <div class="white-section-contact">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 col-sm-12">
                    <p class="text-center ft-600">For press or collaboration inquiries please filling out this form below or email me directly at <a class="red ft-400" href="mailto:richardpetersonpromo@gmail.com">richardpetersonpromo@gmail.com</a></p>
                    <form action="https://formspree.io/richardpetersonpromo@gmail.com" method="POST">
                        <input type="hidden" name="utf8" value="✓">
                        <div class="form-group">
                            <input type="text" class="form-control" name="name" aria-describedby="emailHelp" placeholder="Your name" required>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" name="email" aria-describedby="emailHelp" placeholder="Enter email" required>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" name="message" placeholder="Message" rows="4" required></textarea>
                            </div>
                        <button type="submit" class="btn btn-dark">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>